body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Headdings */

.main-title, .cta-title {
  font-weight: 900;
}

.head-text, .line-text, .navbar-brand, .cta-title {
  font-weight: 700;
  line-height: 1.5;
}

.main-title {
  color: #fff;
  font-size: 3.5rem;
}

.head-text, .cta-title {
  font-size: 3rem;
}

.line-text {
  font-size: 1.5rem;
}

/* CONTAINERS */

.container-fluid {
  padding: 7% 15%;
}
/* SECTIONS */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.features,
.testimonials,
.press,
.pricing,
.cta,
.footer {
  text-align: center;
}


/* Title Section */

.title {
  padding-top: 3%;
}

p {
  color: #8f8f8f;
}

/* Novigation bar */

.navbar {
  padding-bottom: 2.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Dowmload buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */

.title-image {
  width: 20%;
  transform: rotate(22deg);
  position: absolute;
  right: 25%;
}

/* Features section */

.features {
  background: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 4.5%;
}

.feature-img {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-box:hover .feature-img {
  color: #ff4c68;
}

/* Testimonials section */

.testimonials {
  background-color: #ef8172;
}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press a:hover .press-img {
  transform: scale(1.1);
  transition: 0.3s;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */

.pricing {
  padding: 100px;
}

.pricing-columnn {
  padding: 3% 2%;
}

.card {
  padding: 0;
}

.card-box {
  padding: 3%
}

/* CTA Section */

.cta-btn {
  margin: 4% 3% 3%;
}

/* Footer Section */

.footer {
  padding: 7% 3%;
}

.sns {
  margin-bottom: 15px;
}

.sns a {
  color: #000;
  margin: 0 10px;
}

.sns a:hover {
  color: #ff4c68;
}

@media (max-width: 1028px) {

  .title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 60%;
    transform: rotate(0);
  }

  .head-text, .cta-title {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 3rem;
    font-weight: 400;
  }

}

@media (max-width: 650px) {

  body {
    font-size: 1.5rem
  }

  .press-img {
    width: 30%;
  }

  .pricing {
    padding: 60px;
  }
}
